# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
jspm_packages/

# Environment files
.env
.env.*

!.env.example

# Testing & Coverage
coverage
*.lcov
.nyc_output

# Build & Output
.next/
out/
build/
dist/
.nuxt/
.vuepress/dist
.docusaurus/

# Cache
.cache/
.parcel-cache
.temp
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.fusebox/
.turbo

# Debug & Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime & System
pids
*.pid
*.seed
*.pid.lock
.DS_Store
*.pem
.tern-port
.vscode-test

# Development Tools
.grunt
bower_components
.lock-wscript
build/Release
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.yarn-integrity
.serverless/
.dynamodb/

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Vercel & Wrangler
.vercel
.dev.vars
.wrangler/
