# Open ai
OPENAI_API_KEY=
# Tavily
TAVILY_API_KEY=

#Langsmith
LANGSMITH_TRACING= #true or false
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=


# Cloudflare R2
R2_API_URL=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=

# Main DB
DATABASE_URL=

# Environment - production or dev
ENVIRONMENT=dev